@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    font-family: 'Outfit', sans-serif;
}
.NavBar {
    background-color:#0057a2;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white; /* Optional: Makes link text white */
}

.adventure-main {
    text-align: center;
}

.adventure-list {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    padding: 10px; /* Optional padding */
    white-space: nowrap; /* Prevent items from wrapping */
}

/* Margin between images  */
.adventure-item {
    display: inline-block; 
    margin: 0 30px; 
    max-width: 200px;
}

.adventure-image {
    max-height: 150px;
    width: 250px;
    border-radius: 5px;
}

.adventure-empty-placeholder {
    width: -50px;
    margin-left: -500px;
    background-color: #f0f0f0;
}

.adventure-title {
    margin-top: 5px;
}

.scroll {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

