@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    font-family: 'Outfit', sans-serif;
}

.NavBar {
    background-color:#0057a2;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white; 
}

.main{
    text-align: center;
}

.list {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    padding: 10px; 
    white-space: nowrap;
}

/* Margin between images  */
.item {
    display: inline-block; 
    margin: 0 30px; 
    max-width: 200px;
}

.image {
    max-height: 150px;
    width: 250px;
    border-radius: 5px;
}

.empty-placeholder {
    width: -50px;
    margin-left: -500px;
    background-color: #f0f0f0;
}

.title {
    margin-top: 5px;
}

.scroll {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

